
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
:root{
  --primarycolor:hsl(75, 94%, 57%);
  --secondry:hsl(0, 0%, 100%);
  --gray1:hsl(0, 0%, 20%);
  --gray2:hsl(0, 0%, 12%);
  --gray3:hsl(0, 0%, 8%);
}
body{
  height: 100vh;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--gray3);
}
.container{
  width: min(24rem,87%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--gray2);
  border-radius: 12px;
  text-align: center;
  padding: 20px;
}
.image{
  overflow: hidden;
  border-radius: 50%;
}
img{
  width:6rem ;
}
.text{
  margin: 18px 0;
}
h1{
  color: var(--secondry);
  font-weight: 700;
}
span{ 
  display: block;
  padding-top: 16px;
  color: var(--primarycolor);
  font-weight:600 ;
}
p{
  color: var(--secondry);
  font-size:14px;
  margin: 10px 0 25px 0;
  font-weight: 400;
}
.links{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
.links li{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom:16px ;
  width: 90%;
  font-weight: 600;
  text-align: center;
  font-size:14px;
  height: 48px;
  border-radius: 10px;
  color: var(--secondry);
  background-color: var(--gray1);
  transition: .3s;
  cursor: pointer;
}
.links li:hover{
  background-color: var(--primarycolor);
  color: var(--gray3);
}
